.PlayerCardArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: darkslateblue 2px solid;
}

.PlayerCard {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.PlayerCardActive {
    transform: scale(1.4);
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}